streamlit
numpy==1.26.4
pandas==2.2.2
joblib==1.5.3
scikit-learn==1.8.0
spacy==3.7.4
thinc==8.2.3
https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.7.0/fr_core_news_md-3.7.0-py3-none-any.whl